################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/hwTest/FileContentIndex/9a5a80d1-9d11-4991-8888-242737ae4fd3.vsidx
